.box {
  border: 13px outset #e0e0e0;
  padding: 7px;
  background-color: #f8f5f5;
  margin: 10px;
  max-width: 85%;
}

.box2 {
  max-width: 90%;
}

.image1 {
  padding: 10px;
  float: left;
}

.image2 {
  padding: 0px;
  margin: 5px;
  display: inline-flex;
  border: 4px outset #e0e0e0;
}

body {
  background-image: url("qbkls.png");
}

