@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
body {
    /* background-color: rgb(173, 59, 6); */
    background-color: black;
    font-family: 'DotGothic16', sans-serif
}

.p {
    height: auto
}


/* 
.i {
    animation: expand .8s ease-in-out;
} */


/* animations */

@keyframes expand {
    0% {
        transform: scale(.001, .001)
    }
    50% {
        transform: scale(.8, .05)
    }
    100% {
        transform: scale(1, 1)
    }
}