    @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
    body {
        background-color: black;
        font-family: 'DotGothic16', sans-serif
    }
    
    .p {
        height: auto
    }
    
    .hov {
        cursor: pointer;
    }
    
    button {
        /* color: "white"; */
        /* background-color: "black"; */
        /* font-size: x-large; */
        color: ghostwhite;
        background-color: black;
        border: 1px solid grey
    }
    
    button:hover {
        color: black;
        background-color: ghostwhite;
    }